*.o
*.obj
*.os
*.so
.cache
.godot
.mono
.sconsign.dblite
.vs
assets/FluidR3_GM.sf2
addons/csound/bin
/android

build
build-log.txt
compile_commands.json
src/version_generated.gen.h
src/gen
doc_classes/_build
__pycache__
