*.o
*.obj
*.os
*.so
.cache
.godot
.mono
.sconsign.dblite
.vs
assets/example.mid
assets/example.sf2
assets/example2.mid
addons/csound/bin/linux
addons/csound/bin/macos
addons/csound/bin/wasm
addons/csound/bin/web
addons/csound/bin/windows
addons/csound/bin/x11/
addons/csound/bin/ios/
addons/csound/bin/ioscross/
build
build-log.txt
compile_commands.json
