*.o
*.obj
*.os
*.so
.cache
.godot
.mono
.sconsign.dblite
.vs
addons/csound/bin/linux
addons/csound/bin/macos
addons/csound/bin/wasm
addons/csound/bin/web
addons/csound/bin/windows
addons/csound/bin/x11
addons/csound/bin/ios
addons/csound/bin/ios_sim
addons/csound/bin/ioscross
addons/csound/bin/android
addons/csound/bin/android-arm
addons/csound/bin/android-arm64
addons/csound/bin/android-x64
addons/csound/bin/android-x86
/android

build
build-log.txt
compile_commands.json
